/* =========== PAGE =========== */

html, body {
    overflow-x: hidden;
}

.page-container {
    height: 100%;
    width: 100%;
}

/* =========== HEADER =========== */

header {
    position: absolute;
    width: 100%;
    background: white;
}

.header-container {
    width: auto;
    display: flex;
    margin-left: 100px;
}

.header-logo-container {
    display: flex;
    align-content: center;
    justify-content: center;
    background: #B5121B;
    width: 100%;
    max-width: 100px;
    position: relative;
    padding: 0px 25px 0px 25px;
    min-width: 100px;
}

.header-logo-container > img {
    width: 100%;
    min-width: 100%;
    margin: -25px 0px -25px 0px;
}

.nav-container {
    position: relative;
    bottom: 0;
    display: flex;
    justify-content: space-around;
    align-self: flex-end;
    width: 100%;
    padding-left: 5%;
    padding-right: 5%;
}

.nav-container > a {
    text-decoration: none;
    color: #464646;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    line-height: 30px;
}

/* =========== BODY =========== */

.hero-container {
    background: url('../assets/hero-img.jpg') 100% no-repeat;
    background-size: cover;
    height: 100vh;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-text {
    position: absolute;
    bottom: 0;
    right: 0;
    color: white;
    width: 50%;
    height: 50%;
}

.hero-text > h1, p {
    display: flex;
    align-content: flex-start;
}

.hero-text > h1 {
    font-size: 40px;
    padding-bottom: 30px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

.hero-text > p {
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}

.tile-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    align-items: stretch;
    margin: 0 -9999rem;
    padding: 0.25rem 9999rem;
}

.tile {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 1;
    height: 150px;
    width: 150px;
    margin: 20px 10px 20px 10px;
    overflow: hidden;
    outline: 1px solid lightgray;
}

.tile > img {
    display: flex;
    width: 100%;
    max-width: 100px;
    padding: 10px;
}

/* =========== FOOTER =========== */

.footer-container {
    height: 100%;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background: #464646;
}

footer > img {
    width: 100%;
    padding: 20px;
    max-width: 400px;
}