/* =========== PAGE =========== */

html, body {
    overflow-x: hidden;
}

.page-container {
    height: 100%;
    width: 100%;
}

/* =========== HEADER =========== */

header {
    position: absolute;
    width: 100%;
    background: white;
}

.header-logo-container {
    display: flex;
    align-content: center;
    justify-content: center;
    background: red;
    width: 100%;
    max-width: 100px;
    position: relative;
    left: 30px;
    padding: 0px 25px 0px 25px;
}

.header-logo-container > img {
    width: 100%;
    margin: -25px 0px -25px 0px;
}

/* =========== BODY =========== */

.hero-container {
    background: url('../assets/hero-img.jpg') 100% no-repeat;
    background-size: cover;
    height: 100vh;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tile-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    align-items: stretch;
    margin: 0 -9999rem;
    padding: 0.25rem 9999rem;
}

.tile {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 1;
    height: 150px;
    width: 150px;
    margin: 20px 10px 20px 10px;
    overflow: hidden;
    outline: 1px solid grey;
}

.tile > img {
    display: flex;
    width: 100%;
    max-width: 100px;
    padding: 10px;
}

/* =========== FOOTER =========== */

.footer-container {
    height: 100%;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background: grey;
}

footer > img {
    width: 100%;
    padding: 20px;
    max-width: 400px;
}