html, body {
    overflow-x: hidden;
}

.page-container {
    height: 100%;
    width: 100%;
}

.hero-container {
    background: url('../assets/BoneChair.jpg') 50% no-repeat;
    background-size: cover;
    height: 100vh;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid green;
}

.footer-container {
    height: 100%;
    border: 2px solid red;
}

.tile-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    margin: 0 -9999rem;
    padding: 0.25rem 9999rem;
}

.tile > img {
    min-width: 50px;
    max-width: 50px;
    outline: 2px solid purple;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 100%;
    background: grey;
}